---
---

body {
    background-color: #000000;
    /*background-image: url("{{ site.url }}/img/background.jpg");*/
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    color: #e0e0e0;
}

* {
}

h1, h2, h3, h4, h5, h6 {
    color: #D0D0D0;
}

.banner {
    font-family: 'Titan One', serif;
    font-size: 160px;
}
