<hr/>
<div class="row">
    <div class="columns small-12 medium-12 large-12">
        Symbole von <a href="https://fontawesome.com/">fontawesome</a>.
        &copy; {{ 'now' | date: "%Y" }} F.U.M.P., falls nicht anders angegeben.
    </div>
    <div class="columns small-12 medium-12 large-12">
        Wir benutzen keine Werkzeuge für
        Analytics. Wir speichern E-Mails nur zum Zwecke der Korrespondenz.
        Für weitere Informationen bezüglich GDPR lesen Sie bitte unsere
        <a href="/imprint.html">Datenschutzerklärung</a>.
    </div>
</div>

<script src="{{ site.url }}/js/vendor/jquery.js"></script>
<script src="{{ site.url }}/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>
